// reset styles

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html, body {
	@extend .fullwidth;
	height: 100%;
}

body {
	background: $white;
}

::selection {
	color: $white;
	background-color: $secondary;
}

figcaption {
	font-style: italic;
	font-family: Arial;
	text-align: right;
	margin: -2rem 2rem 0rem 2rem;
}

// base header styles

h1, h2, h3, h4, h5, h6 {
	color: $dgrey;
}

h1 {
	text-transform: uppercase;
	font-size: 7rem;
	font-family: Highway;
	@media screen and (max-width: $break-medium) {
		font-size: 5rem;
	}
	@media screen and (max-width: $break-small) {
		font-size: 3rem;
	}
}

h2 {
	font-family: Coolvetica Rg;
}

h3 {
	@extend h2;
	font-size: 1.75rem;
	text-transform: uppercase;
	color: $secondary;
	letter-spacing: 0.2rem;
	word-spacing: -0.15rem;
	margin-bottom: 2rem;
}

// base paragraph style

p {
	font-family: Roboto Condensed;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

// 

img {
	height: auto;
	@extend .fullwidth;
}