// header & logo

header {
	background: linear-gradient($black, $lblack);
	background-color: $black;
	height: 5%;
	@extend %flexcenter;
	align-items: center;
}

#logo {
	@extend %flexcenter;
	width: 40%;
	flex-shrink: 10;
	height: 100%;
	@media screen and (max-width: $break-large) {
	width: 30%;		
	}
	@media screen and (max-width: $break-small) {
	width: 20%;		
	}
}

// navigation 

nav {
	width: 60%;
	@media screen and (max-width: $break-large) {
	width: 70%;		
	}
	@media screen and (max-width: $break-small) {
	width: 80%;		
	}
	ul {
		@extend .center;
		@extend .fullwidth;
		margin: 0 auto;
		list-style-type: none;
		li {
			position: relative;
			font-family: Coolvetica Rg;
			display: inline;
			@extend .center;
			color: $white;
			font-size: 1.25rem;
			@media screen and (max-width: $break-large) {
				font-size: 1rem;
			}
			@media screen and (max-width: $break-medium) {
				font-size: 0.8rem;
			}
			@media screen and (max-width: $break-small) {
				font-size: 0.75rem;
			}
			a {
				text-transform: uppercase;
				padding: 1rem; //1REM
			}
			ul {
				@extend .center;
				@extend .fullwidth;
				display: block;
				position: absolute;
				top: 2.25rem;
				z-index: 20;
				height: 0rem;
				overflow: hidden;
				li {
					background-color: $secondary;
					display: block;
					padding: 1rem;
					color: $white;
					a {
					padding: 0rem 2rem;
					}
				}
				li:nth-child(odd) {
					background-color: lighten($secondary, 10%);
					padding: 1rem;
				}
				li:hover {
					background: linear-gradient($black, $lblack);
					background-color: $black;
					padding: 1rem;
				}
				a.second {
					color: $white;
				}
			}
			.open {
				// height: 2.25rem;
				display: block;
			}
		}
	}
}

.dropdown::after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 4px solid rgba(0, 0, 0, 0);
	border-width: 5px 4px;
	border-top-color: $lgrey;
	margin-left: 4px;
	vertical-align: text-bottom;
}

// lander 

#lander {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 95%;
	background-image: url("https://unsplash.imgix.net/reserve/ujKaaIATKKx7vi5kkfQn__DSC3932.jpg?q=75&fm=jpg&s=1c23eb9e4d01af2e39c0329ddcc59cd3");
	background-size: cover;
	background-position: center;
	svg {
		position: relative;
		top: -5%;
		width: 10%;
		height: 10%;
		fill: $dgrey;
	}
	h1 {
		display: block;
		position: relative;
		top: -6%;
		@extend .fullwidth;
		@extend .center;
		line-height: 1;
		letter-spacing: -0.4rem;
	}
	h2 {
		position: relative;
		top: -5%;
		line-height: 0.5;
		display: block;
		@extend .fullwidth;
		@extend .center;
	}
}


// footer

footer {
	height: 10%;
	background-color: $dgrey;
	background-image: url('/images/footerbg.png');
	background-repeat: repeat-x;
	@extend %flexcenter;
}

footer p {
	@extend .fullwidth;
	display: block;
	color: #fff;
	@extend .center;
}

// button


