// container

#container {
	width: 100%;
	height: 100%;
}

// header & logo

header {
	background: linear-gradient($black, $lblack);
	background-color: $black;
	height: 5%;
	@extend %flexcenter;
	align-items: center;
}

#logo {
	@extend %flexcenter;
	width: 40%;
	flex-shrink: 10;
	height: 100%;
	@media screen and (max-width: $break-large) {
	width: 30%;		
	}
	@media screen and (max-width: $break-small) {
	width: 20%;		
	}
}

// navigation 

nav {
	width: 60%;
	@media screen and (max-width: $break-large) {
	width: 70%;		
	}
	@media screen and (max-width: $break-small) {
	width: 80%;		
	}
	ul {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		list-style-type: none;
		li {
			font-family: Coolvetica Rg;
			display: inline;
			text-align: center;
			color: $white;
			font-size: 1.25rem;
			@media screen and (max-width: $break-large) {
				font-size: 1rem;
			}
			@media screen and (max-width: $break-medium) {
				font-size: 0.8rem;
			}
			@media screen and (max-width: $break-small) {
				font-size: 0.75rem;
			}
			a {
				text-transform: uppercase;
				padding: 1rem;
			}
		}
	}
}

.dropdown::after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 4px solid rgba(0, 0, 0, 0);
	border-width: 5px 4px;
	border-top-color: $lgrey;
	margin-left: 4px;
	vertical-align: text-bottom;
}

// lander 

#lander {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 95%;
	background-image: url("https://unsplash.imgix.net/reserve/ujKaaIATKKx7vi5kkfQn__DSC3932.jpg?q=75&fm=jpg&s=1c23eb9e4d01af2e39c0329ddcc59cd3");
	background-size: cover;
	background-position: center;
	svg {
		position: relative;
		top: -5%;
		width: 10%;
		height: 10%;
		fill: $dgrey;
	}
	h1 {
		display: block;
		position: relative;
		top: -6%;
		width: 100%;
		text-align: center;
		line-height: 1;
		letter-spacing: -0.4rem;
	}
	h2 {
		position: relative;
		top: -5%;
		line-height: 0.5;
		display: block;
		width: 100%;
		text-align: center;
	}
}


// footer

footer {
	height: 10%;
	background-color: $dgrey;
	background-image: url('/images/footerbg.png');
	background-repeat: repeat-x;
	@extend %flexcenter;
}

footer p {
	width: 100%;
	display: block;
	color: #fff;
	text-align: center;
}

