// reusable classes

.underline {
	border-bottom: 1px solid $secondary;
}

.altheading { // to be used on text over $secondary colour background
	color: $lgrey;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

.center {
	text-align: center;
}

%flex {
	display: flex;
	justify-content: center;
	align-content: center;
}

%flexcenter {
	@extend %flex;
	align-items: center;
}

#maincontainer {
	width: 100%;
	@extend %flex;
	padding: 4rem 0rem;
}

.mediumblock {
	text-align: justify;
	margin: 0rem 2rem;
	width: 30%;
	img {
		margin-top: 2rem;
	}
}

.smallblock {
	text-align: justify;
	border-right: 1px solid $lgrey;
	padding: 0rem 2rem;
	width: 20%;
	@media screen and (max-width: $break-large) {
		width: 33%;
		padding: 0rem 1rem;
	}
	@media screen and (max-width: $break-medium) {
		width: 90%;
		border: 0px;
		padding: 2rem 2rem;
	}
	&:last-child{
		border: 0px;	
	}
}

// youtube slider

#youtubecontainer {
	@extend #maincontainer;
	flex-wrap: wrap;
	position: relative;
	background-color: $secondary;
	background-image: url('/images/diagmonds.png');
	.slidercontainer {	
		width: 50%;
		height: 500px;
		position: relative;
		overflow: hidden;
		@media screen and (max-width: $break-large) {
			width: 90%;
		}
		@media screen and (max-width: $break-medium) {
			width: 90%;
			height: 400px;
		}
		@media screen and (max-width: $break-small) {
			width: 90%;
			height: 200px;
		}
	}
}

#child {
	width: 100%;
	height: 100%;
	position: absolute;
	&:nth-child(1) {
	left: 0%;
	}
	&:nth-child(2) {
	left: 100%;
	}
	&:nth-child(3) {
	left: 200%;
	}
	&:nth-child(4) {
	left: 300%;
	}
	&:nth-child(5){
	left: 400%;
	}
	&:nth-child(6) {
	left: 500%;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	width: 50%;
	height: 5%;
	margin: 2rem 2rem 0rem 2rem;
}

.button {
	cursor: pointer;
	margin: 0.1rem 0.2rem;
	width: 25px;
	height: 25px;
	background-color: $lgrey;
	background-image: url('/images/footerbg.png');
	border: 0px solid $dgrey;
	border-radius: 100%;
}

.button:hover {
	background-color: $dgrey;
}

.button.current {
	background-color: $black;
}