// default link styling

a, a:hover, a:visited, a:active {
	transition: color 0.5s ease;
	color: $lgrey;
	text-decoration: none;
}

a:hover {
	color: $secondary;
}

// active navigation elements

nav ul li a.active {
	@extend a:hover;
}

// logo svg hover

.logosvg {
	transition: fill 0.5s ease;
	fill: $lgrey;
	width: 75%;
	height: 75%;
}

a#logo:hover .logosvg {
	fill: $secondary;
}
