//media queries

$break-large: 1200px;
$break-medium: 720px;
$break-small: 420px;

//colors

$black: #000;
$lblack: #222;
$white: #fff;
$lgrey: #ccc;
$mgrey: #888;
$dgrey: #333;
$secondary: #a2958f;

//padding

$bigpadding: 6rem;
$medpadding: 2rem;
$smlpadding: 1rem;